* {
  border: none;
  border-radius: 0px;
  font-family: "Iosevka Fixed SS05", "Symbols Nerd Font";
  font-size: 20px;
  min-height: 0;
  color: #ebdbb2;
  font-weight: 400;
}

window#waybar {
  background: #1d2021;
}

#window {
  padding: 0 5px;
}

#workspaces button.active {
  background: #8f3f71;
}

#window {
  padding: 0 12.5px;
}

#custom-music-metadata {
  padding: 0 15px;
}

#custom-battery {
  padding: 0 7.5px;
  color: #689d6a;
}

#custom-disk {
  padding: 0 7.5px;
  color: #d79921;
}

#custom-kernel {
  padding: 0 7.5px;
  color: #458588;
}

#pulseaudio {
  padding: 0 7.5px;
  color: #b16286;
}

#memory {
  padding: 0 7.5px;
  color: #98971a;
}

#custom-date {
  padding: 0 7.5px;
  color: #d65d0e;
}

#custom-time {
  padding: 0 7.5px;
  color: #cc241d;
}

#tray {
  padding: 0 15px 0 7.5px;
}
