* {
  color: #ebdbb2;
  font-family: "Symbols Nerd Font", "Fira Sans Condensed";
  font-size: 22px;
}

window#waybar {
  background: #1d2021;
}

#workspaces {
  margin: 4px 0px 4px 8px;
}

#workspaces button {
  font-weight: 400;
  margin: 0px 2px 0px 2px;
  padding: 2px 6px 2px 6px;
}

#workspaces button.active {
  background: #98971a;
  font-weight: 600;
  margin: 0px 2px 0px 2px;
}

#window {
  margin: 0px 10px;
}

#custom-music-metadata {
  font-weight: 600;
}

#custom-blue-filter {
  color: #928374;
  margin: 0px 15px 0px 15px;
}

#custom-battery {
  color: #689d6a;
  font-weight: 600;
  margin: 0px 7.5px 0px 7.5px;
}

#pulseaudio {
  color: #458588;
  font-weight: 600;
  margin: 0px 7.5px 0px 7.5px;
}

#custom-disk {
  color: #d79921;
  font-weight: 600;
  margin: 0px 7.5px 0px 7.5px;
}

#custom-time {
  color: #d65d0e;
  font-weight: 600;
  margin: 0px 7.5px 0px 7.5px;
}

#custom-date {
  color: #b16286;
  font-weight: 600;
  margin: 0px 7.5px 0px 2.5px;
}

#tray {
  margin: 0px 15px 0px 10px;
}

#tray menu {
  margin: 2px;
  padding: 5px;
}
