* {
  color: #ebdbb2;
  font-family: "Symbols Nerd Font", "Fira Sans Condensed";
  font-size: 22px;
  border-radius: 4px;
}

#waybar {
  background-color: transparent;
}

#waybar > box {
  background: #1d2021;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  border-left: 4px solid #98971a;
  border-right: 4px solid #98971a;
  border-bottom: 4px solid #98971a;

  box-shadow: 1px 1px 3px 2px #151515;
  margin: 0px 8px 8px 8px;
}

.modules-left {
  margin-bottom: 2px;
}

.modules-center {
  font-weight: 600;
  margin-bottom: 2px;
}

.modules-right {
  font-weight: 600;
  margin-right: 15px;
  margin-bottom: 2px;
}

#workspaces {
  font-weight: 600;
  margin: 6px 7.5px 6px 12px;
}

#workspaces .workspace-label {
  margin-right: 8px;
}

#workspaces .taskbar-window image {
  padding: 0px;
  margin-top: 1px;
}

#workspaces button {
  margin: 0px 3px 0px 3px;
  padding: 0px 10px 0px 8px;
  box-shadow: none;
  background: #282828;
}

#workspaces button.empty {
  padding: 0px 0px 0px 8px;
  background: #1d2021;
}

#workspaces button.active {
  background: #3c3836;
}

#workspaces button:hover {
  box-shadow: inherit;
}

#custom-music-metadata {
  margin: 0px 7.5px 0px 0px;
}

#clock {
  margin: 0px 7.5px 0px 7.5px;
}

#custom-privacy {
  margin: 0px 7.5px 0px 7.5px;
}

#custom-mute-indicator {
  color: #7c6f64;
  margin: 2px 5px 0px 5px;
}

#custom-battery-info {
  margin: 0px 7.5px 0px 5px;
}

#custom-disk-info {
  margin: 0px 7.5px 0px 7.5px;
}

#pulseaudio {
  margin: 0px 7.5px 0px 7.5px;
}

#network {
  margin: 0px 7.5px 0px 7.5px;
}

#custom-powermenu {
  margin: 0px 7.5px 0px 7.5px;
}

#custom-blue-filter {
  font-size: 18px;
  color: #dfdfdf;
  margin: 0px -2.5px 0px 7.5px;
  min-width: 18px;
}

#tray {
  border-radius: 16px;
  margin: 0px 0px 0px 7.5px;
}

tooltip {
  background-color: transparent;
  border: none;
}

/* Desactivamos los tooltips */
tooltip label {
  color: transparent;
  background: transparent;
}
