window {
  background: none;
  border: none;
  font-family: "Symbols Nerd Font", "Inconsolata Nerd Font";
  font-size: 18px;
}

#input {
  margin: 12px 12px 0px 12px;
  color: #ebdbb2;
  background-color: #282828;
}

#inner-box {
  margin: 18px;
}

#outer-box {
  background-color: #1d2021;
  border-radius: 18px;
}

#text {
  margin: 8px;
  color: #ebdbb2;
}

#entry:selected {
  background-color: #282828;
}
