:root {
  --cc-bg: rgb(37, 36, 35);
  --noti-border-color: rgba(152, 151, 26, 1);
  --noti-bg: rgba(40, 40, 40, 1);
  --noti-bg-darker: rgb(29, 32, 33);
  --noti-bg-hover: rgb(60, 56, 54);
  --noti-bg-focus: rgb(80, 73, 69);
  --noti-close-bg: rgb(80, 73, 69);
  --noti-close-bg-hover: rgb(124, 111, 100);
  --text-color: rgb(235, 219, 178);
  --text-color-disabled: rgb(189, 174, 147);
  --notification-icon-size: 96px;
}

/* Caja notificación */
.notification {
  margin: 32px;
  box-shadow: 1px 1px 3px 2px #151515;
  border: 4px solid var(--noti-border-color);
  border-radius: 12px;
  transition: background 0.15s ease-in-out;
  background: var(--noti-bg);
}

/* Botón cerrar */
.close-button {
  margin: 42px;
}

/* Iconos */
.image {
  margin: 4px;
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-icon-size);
  border-radius: 4px;
}

/* Título notificación */
.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .text-box
  .summary,
.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .text-box
  .time {
  padding-top: 6px;
  padding-bottom: 4px;
  margin-left: 12px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
}

/* Cuerpo notificación */
.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .text-box
  .body {
  padding-bottom: 6px;
  margin-left: 12px;
  font-weight: normal;
  color: var(--text-color);
}

/* Barra de progreso */
.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  progressbar {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
}

/* Barra de progreso (Fondo) */
.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  progressbar
  trough {
  background-color: var(--noti-bg-darker);
}

/* Barra de progreso (Progreso) */
.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  progressbar
  progress {
  background-color: var(--noti-border-color);
}

/* Centro de control */
.control-center {
  color: var(--text-color);
  background: var(--noti-bg);
  border: 4px solid var(--noti-border-color);
  border-radius: 12px;
  box-shadow: 1px 1px 3px 2px #151515;
  margin-top: 32px;
  margin-right: 48px;
  margin-bottom: 48px;
}

/* Centro de control Do Not Disturb */
/* Desactivado */
.control-center-dnd {
  background-color: var(--noti-bg-darker);
}
/* Activado */
.control-center-dnd:checked {
  background-color: var(--noti-border-color);
}
