:root {
  --bg: rgb(40, 40, 40);
  --bg-dark: rgb(35, 36, 37);
  --bg-darker: rgb(29, 32, 33);
  --bg-light: rgb(60, 56, 54);
  --bg-lighter: rgb(80, 73, 69);
  --fg: rgb(235, 219, 178);
  --fg-disabled: rgb(189, 174, 147);
  --accent-color: rgb(152, 151, 26);
  --image-radius: 10%;
  --icon-size: 96px;
  --shadow-opts: 1px 1px 3px 2px #151515;
}

/********************/
/* Ajustes Globales */
/********************/

* {
  all: unset;
  font-family: "Fira Sans Condensed", "Symbols Nerd Font";
  transition: background 0.15s ease-in-out;
  font-size: 1.2rem;
}

/* Iconos */
.image {
  margin: 6px;
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--icon-size);
  border-radius: var(--image-radius);
}

/* Caja */
.notification {
  padding: 4px;
  color: var(--fg);
  background-color: var(--bg-dark);
  border: 4px solid var(--accent-color);
  border-radius: 12px;
  margin: 6px;
  box-shadow: var(--shadow-opts);
}

/* Parte exterior */
.floating-notifications {
  margin-top: 32px;
  margin-right: 40px;
}

/* Título notificaciones */
.summary {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
  color: var(--fg);
  font-weight: bold;
}

/* Contenido notificaciones */
.body {
  margin: 10px;
  color: var(--fg);
}

/* Botón cerrar notificaciones */
.close-button {
  margin-top: 18px;
  margin-right: 18px;
  padding: 6px;
  border-radius: 100%;
  color: var(--fg);
  background-color: var(--bg-light);
}

/* Botón cerrar notificaciones (Enfocado) */
.close-button:hover {
  background-color: var(--bg-lighter);
}

/* Acciones notificaciones */
.notification-alt-actions {
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  padding-top: 8px;
}

/* Acciones notificaciones (Botón) */
.notification-action button,
.notification-alt-actions button {
  background-color: var(--bg-light);
  border-radius: 12px;
  padding: 8px 18px;
}
/* Acciones notificaciones (Botón enfocado) */
.notification-action button:hover,
.notification-alt-actions button:hover {
  background-color: var(--bg-lighter);
}

/* Barra de progreso notificaciones */
progressbar,
progressbar trough,
progressbar progress {
  border-radius: 0.5rem;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Barra de progreso (Fondo) */
progressbar trough {
  background-color: var(--bg-darker);
}

/* Barra de progreso (Progreso) */
progressbar progress {
  margin: 0px;
  background-color: var(--accent-color);
}

/********************/
/* Panel de control */
/********************/

/* Panel de control */
.control-center {
  box-shadow: var(--shadow-opts);
  border-radius: 16px;
  border: 4px solid var(--accent-color);
  background-color: var(--bg-darker);
  color: var(--fg);
  padding: 14px;
}

/* Edad de las notificaciones */
.control-center .time {
  margin-top: 10px;
  margin-right: 40px;
}

/* Título widget "Do Not Disturb" */
.widget-dnd {
  margin-top: 8px;
  margin-bottom: 12px;
  margin-left: 12px;
  color: var(--fg);
}

/* Slider no molestar (Fondo desactivado) */
.control-center-dnd {
  margin-top: 8px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 3px 4px 3px 4px;
  background: var(--bg-light);
  border-radius: 12px;
}

/* Slider no molestar (Fondo activado) */
.control-center-dnd:checked {
  background: var(--accent-color);
}

/* Slider no molestar (Botón desactivado) */
.control-center-dnd slider {
  background: var(--bg-darker);
  border-radius: 12px;
}

/* Slider no molestar (Botón activado) */
.control-center-dnd:checked slider {
  background: var(--bg-darker);
}

/* Botón cerrar todo */
.control-center .widget-title button {
  margin-top: 12px;
  margin-right: 12px;
  padding: 6px 12px 4px 12px;
  border-radius: 12px;
  color: var(--fg);
  background-color: var(--bg);
}

/* Botón cerrar todo (Enfocado) */
.control-center .widget-title button:hover {
  color: var(--fg);
  background-color: var(--bg-light);
}

/* Título widget "Notifications" */
.control-center .widget-title > label {
  margin-top: 12px;
  margin-left: 12px;
  color: var(--fg);
}

/* Título y botones de los grupos de notificaciones */
.notification-group-buttons,
.notification-group-headers {
  margin: 12px 12px 6px 12px;
}

/* Botones grupo de notificaciones */
.notification-group-buttons,
.notification-group-headers > button {
  background: var(--bg);
  border-radius: 12px;
  padding: 6px;
}

/*********/
/* MPRIS */
/*********/

.widget-mpris {
  padding: 0px;
  border: none;
  border-radius: 12px;
  border: 4px solid var(--accent-color);
  box-shadow: var(--shadow-opts);
  background: var(--bg);
  margin: 6px;
}

/* Carátula como fondo */
picture.mpris-background {
  opacity: 0.05;
}

/* Botones para cambiar de reproductor */
.widget-mpris > box > button {
  color: transparent;
}

/* Carátula del álbum */
.widget-mpris-album-art {
  min-width: 96px;
  min-height: 96px;
  border-radius: var(--image-radius);
  margin-top: 18px;
  margin-bottom: 4px;
  margin-left: 48px;
  border: 4px solid var(--accent-color);
  box-shadow: var(--shadow-opts);
}

.widget-mpris-title,
.widget-mpris-subtitle {
  color: var(--fg);
  margin-right: 50px;
  margin-left: 12px;
}

/* Título del contenido */
.widget-mpris-title {
  font-size: 20px;
  margin-top: 16px;
  font-weight: bold;
}

/* Subtítulo del contenido */
.widget-mpris-subtitle {
  font-size: 16px;
}

/* Botones (Anterior, siguiente, etc.) */
/*
.widget-mpris .widget-mpris-player button {
  max-height: 28px;
  max-width: 28px;
  min-height: 28px;
  min-width: 28px;
  border-radius: 100%;
  margin-bottom: 12px;
  background-color: var(--bg-light);
}
*/
.widget-mpris .widget-mpris-player button {
  background: transparent;
  color: transparent;
}

/*
.widget-mpris .widget-mpris-player button:hover {
  background-color: var(--bg-lighter);
}
*/

/*******************/
/* Rejilla botones */
/*******************/

.widget-buttons-grid {
  padding: 6px 2px;
  background: transparent;
}

/* Botón */
.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px;
  padding: 6px 16px;
  background: var(--bg);
  color: var(--fg-disabled);
  border-radius: 8px;
  min-width: 40px;
  min-height: 26px;
}

/* Botón (Animación activar) */
.widget-buttons-grid > flowbox > flowboxchild > button:active {
  background: var(--bg-lighter);
  transition: background 0.15s ease-in-out;
}

/* Botón activado (Cuerpo) */
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: var(--bg-light);
}

/* Botón activado (Texto) */
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
  color: var(--fg);
}
